/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/

body {
    font-family: 'Roboto';
    font-style: normal;
}

header {
    width: 100%;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.head-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.hero-image .container {
    display: flex;
    flex-direction: column;
}

.hero-image::before {
    position: absolute;
    content: "";
    left: calc(50vw - 32px);
    width: 680px;
    height: 654px;
    background-color: #ffffff;
    background-image: url("../img/heroImg.svg");
    background-repeat: no-repeat;
}

.hero-text-box {
    max-width: 552px;
    margin-top: 113px;
    margin-bottom: 158px;
}

.logo {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;

    color: #FF0043;
}

.title-head {
    font-weight: 500;
    font-size: 60px;
    line-height: 85px;
    color: #00194A;
}

.hero-text {
    margin-top: 20px;
    margin-bottom: 50px;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */

    color: #00194A;

    mix-blend-mode: normal;
    opacity: 0.8;
}

.button-red {
    border-radius: 25px;
    background-color: #FF0043;
    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}

.small {
    padding: 15px 20px 15px 20px;
    text-align: center;
}

.big {
    padding: 20px 50px 20px 50px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

.platform-container {
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
}

.platform-window {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 360px;
    height: 272px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 1px #979797;
}

.platform-image {
    order: 0;
    width: 40px;
    height: 48px;
    margin-bottom: 20px;
}

.platform-image-os {
    order: 0;
    width: 102px;
    height: 48px;
    margin-bottom: 20px;
}

.platform-title {
    order: 1;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;

    color: #00194A;
}

.platform-text {
    order: 2;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    color: #00194A;
    mix-blend-mode: normal;
    opacity: 0.8;
}

.platform-text {
    order: 3;
}

.download-box {
    order: 3;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 20px;
}

.download {
    width: 21px;
    height: 20px;
}

.chat {
    background-color: #ffffff;
    background-image: url("../img/dottedSquare.png");
    background-repeat: no-repeat;
    margin-bottom: 0;
}

.photo-chat {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}



.messages-chat {
    position: absolute;
    top: 365px;
    left: 126px;
}

.message {
    display: grid;
    max-width: 391px;
    grid-template-columns: 60px 211px 59px;
    grid-template-areas: "photo text-title time"
        "photo text-message count";
    border-radius: 10px;
    gap: 5px 15px;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 25px 0px #00000008;

}

.message:nth-child(2) {
    margin-top: 15px;
    margin-left: 30px;
    margin-bottom: 15px;
}

.message:last-child {
    margin-left: 60px;
}

.message-photo {
    grid-area: photo;
    width: 60px;
    height: 60px;
}

.message-title {
    grid-area: text-title;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    color: #00194A;
    align-self: end;
    justify-self: start;
}

.message-text {
    grid-area: text-message;
    align-self: start;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #00194A;
    mix-blend-mode: normal;
    opacity: 0.8;
    align-self: start;
    justify-self: start;
}

.message-time {
    grid-area: time;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;

    color: #00194A;
    align-self: center;
    justify-self: start;
}

.message-count {
    grid-area: count;
    background-color: #FF0043;
    border-radius: 8px;
    padding: 5px;
    color: #ffffff;
    align-self: end;
    justify-self: end;
}

.title-head-two {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    /* or 143% */
    color: #00194A;
}

.text-chat {
    max-width: 466px;
    display: inline-block;
    align-items: center;
    align-self: center;
    margin-right: 53px;

}

.chat-text-p {
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */
    color: #00194A;
    mix-blend-mode: normal;
    opacity: 0.8;
}

.chat-text-p:not(:last-child) {
    margin-bottom: 30px;
}